python-binance
ccxt
pandas
numpy
pandas-ta
ta
scikit-learn
xgboost
lightgbm
tensorflow-macos
tensorflow-metal
torch
websocket-client
websockets
aiohttp
rich
plotly
python-dotenv
joblib
requests
scipy
matplotlib
uvloop
orjson